.thumbanil {
  border-width: 3px;
  border-style: solid;
  border-color: red;
  border-radius: 8px;
  padding: 5px;
  margin: 10px;
  width: 420px;
  height: 280px;
  justify-content: flex-start;
}

.thumbanil h3 {
  padding: 0px;
  margin: 0px;
}

.thumbanil p {
  margin-top: -4px;
}
