.nav {
  font-size: 18px;
  position: fixed;
  height: 50px;
  padding: 10px;
  color: black;
  background-color: white !important;
  /* background-color: aliceblue; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 250px;
  width: 100%;
  height: 60px;
  top: 0;
  z-index: 1;
}

.nav h4 {
  margin-right: 400px;
}
.nav ul {
  list-style: none;
  overflow: hidden;
}
.nav li {
  float: left;
}

.nav ul li a {
  margin: 5px 15px;
}
